
.centered_img{
  margin-top: 15%;
}

.button{
  padding: 20px;
  width: 150px;
  border: 2px solid grey;
  border-radius: 20px;
}

.center{
  /* border: 1px dashed red; */
  position: relative;
}



@media screen and (max-width: 1000px){
  .centered_img{
    margin-top: 20%;
  }
}



