*{box-sizing: border-box;}

.container{
  width: 1000px;
  padding: 10px;
  border: 1px dashed red;
  margin: auto;
}

.column{
  width: 33%;
  display: inline-block;
  text-align: center;
}

@media screen and (max-width:1024px){
  .container{
    width: 100%;
  }
  .column{
    width: 100%;
    margin: 10px 0px;
    color: white;
    background: red;
  }
}
